
<h1>All Houses</h1>


<%= will_paginate %>
<ul>
  <% @houses.each do |house| %>
    <li>
      <%= house.housenum %>
      <%= house.street %>
      <%= house.city %>,
      <%= house.state  %>
      <%= house.zip %>
    </li>
    <% if current_user.admin? %>
      <%= link_to "delete", house, :method => :delete,  :data => { :confirm => "You sure?" } %>
      <%= link_to "edit", edit_house_path(house) %> 
    <% end %>
  <% end %>
</ul>
<%= will_paginate %>
<% if current_user.admin? %>
  <%= link_to 'Add House', new_house_url %>
<% end %>

