<h1>houses.</h1>

<aside class="span3">
        <section>
<table>
  <% @houses.each do |house| %>
    <tr>
      <td>
        <%= house.housenum %>
        <%= house.street %>
      </td>
      <% if current_user.admin? %>
          <td>  
            <%= link_to "[delete]", house, :method => :delete,  :data => { :confirm => "You sure?" } %>
          </td>
          <td>
            <%= link_to "[edit]", edit_house_path(house) %> 
          </td>
        <% end %>
    <% end %>
  </table>
  <br>
  <% if current_user.admin? %>
    <%= link_to '[add new house]', new_house_url %>
  <% end %>
</section>
</aside>
<aside class="span7">
<div id="map-canvas"></div>  
</div>
</aside>
   <aside class="span10">
        <section>     
<%= will_paginate %>
        </section>
      </aside>
