<h1>houses.</h1>

<aside class="span3">
  <section>
    <h3>search:</h3>
    <%= form_for (@house, :method => 'get') do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <%= render 'shared/searchfields', :f => f  %> 
      <%= f.submit "Search" %>
    <% end %>  
      <% if current_user.admin? %>
    <%= link_to '[add new house]', new_house_url %>
  <% end %>  
</section>
</aside>
<aside class="span7">
  <%= gmaps4rails(@json) %>

</aside>
   <aside class="span10">
     <section>        
       <% if @houses %>
       <table>
       <% @houses.each do |house| %>
    <tr>
      <td>
        <%= house.housenum %>
        <%= house.street %>
      </td>
      <% if current_user.admin? %>
          <td>  
            <%= link_to "[delete]", house, :method => :delete,  :data => { :confirm => "You sure?" } %>
          </td>
          <td>
            <%= link_to "[edit]", edit_house_path(house) %> 
          </td>
        <% end %>
    <% end %>
  </table>
<% end %>
    
        </section>
      </aside>
